<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-Rct_Fw-z80B-RK-e6oSIyLWQvmzvCHI</string>
	<key>GCM_SENDER_ID</key>
	<string>53647232373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sportplays.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>sportplays-2b76f</string>
	<key>STORAGE_BUCKET</key>
	<string>sportplays-2b76f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53647232373:ios:619cbd903b3dea5511573c</string>
	<key>DATABASE_URL</key>
	<string>https://sportplays-2b76f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>